<!DOCTYPE html>
<html lang="ru"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello, it's starting page</h1>
    <form action="home/createOrUpdate">
        <button>Добавление или редактирование книги</button>
    </form>
    <form action="home/delete">
        <button>Удаление книги</button>
    </form>
    <form action="home/infoAllBook">
        <button>Информация о книгах</button>
    </form>
    <form action="http://localhost:8081/home/search">
        <button>Поиск по названию книги</button>
    </form>
    <hr>
</body>
</html>